 html, body, #root, #app, #app>div {
    height: 100%
}

body {
    margin: 0;
}

#root {
    background-color: white;
}

html {
    font-family: Roboto;
}

a {
    text-decoration: none;
} 