
#form_container {
    width: 360px;
    height: autox;
    padding: 50px 35px;
}

.input_field {
    display: block;
    padding-bottom: 15px;
}

.textfield_input {
    display: block;
    padding-bottom: 5px;
}

.date_picker {
    display: block;
    width: 100%;
}